<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socail Media Template</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" >
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" ></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  
</head>
<body class="bodyDash">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="./images/TDT_logo.jpg" style="width: 140px; height: 70px; margin-left: 5px ; float: left; display: block;" class="responsive">
  
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="mx-auto">
        </div>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
                <a href="dashboardFacuty" class="fas fa-home fa-2x p-2 m-2 homeIcon"></a>
            </li>

            <li class="nav-item">
                <a href="informFacuty?name=<%= name %>" class="fab fa-twitch  fa-2x p-2 m-2 icon"></a>
            </li>
            
            <li class="nav-item mr-3">
                <img src="/images/facuty.jpg" class="rounded-circle m-2 avatar" alt="Cinque Terre style=";>
                <b><%= name %></b>
            </li>

            
            <li class="nav-item">
                <a href='/login' class="fa fa-sign-out fa-2x p-2 m-2 iconLogout"></a>
            </li>

        </ul>
    </div>
</nav>

<div class="container jsjhr">
<div class="row skfjh">
<div class="col-md-2 sfjhe">
<div class=" sjfsj">

    
        <div class="text-center">
            <a href="#">Khoa công Nghệ thông tin</a>
        </div>
   <hr>
   <div class="text-center">
   <a href="#">
       Khoa Luật
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
      Khoa quản trị kinh doang 
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       Khoa kế toán
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       link
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       link
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       link
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       link
   </a>
   </div>

   <hr>
   <div class="text-center">
   <a href="#">
       link
   </a>
   </div>

</div>
</div>
<div class="col-md-6">
    <div class="jfheuf">
        <div class="container">
            <div class="row">
                
                <div id='btn-status' data-toggle="modal" data-target="#exampleModalCenter" class="col-sm-9 col-md-6 col-sm-10 mt-2">
                Write something...
                </div>
            </div>
            
        </div>
    

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Create Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="">
                  <textarea placeholder="What's on your mind?" class="form-control type-post-content"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Post</button>
                  
                </div>
              </div>
            </div>
          </div>

</div>




<div class="box1">
<div class="d-flex skfjkk">
    <div class="lkt40">
        <img src="./image/avatar1.jpg" alt="">

    </div>
    <div class="pl-2 pt-1">
        <h6></h6>
    </div>
 
</div>
<hr>
<p class="text-muted">
    Mọi người cho mình hỏi lớp luật 18HE0102 hôm nay được nghỉ học đúng không ạ?
</p>
<hr>
<div>

</div>
<div>
    
</div>
<div class="d-flex justify-content-around">
    <div>
        <i class="fa fa-heart"></i>
        Like
    </div>
    <div>
        <i class="fa fa-comment"></i>
        Comments
    </div>
    
</div>
</div>


<div class="box1">
    <div class="d-flex skfjkk">
        <div class="lkt40">
            <img src="./image/avatar1.jpg" alt="">
    
        </div>
        <div class="pl-2 pt-1">
            <h6></h6>
        </div>
     
    </div>
    <hr>
    <p class="text-muted">
        Mọi người cho mình hỏi lớp luật 18HE0102 hôm nay được nghỉ học đúng không fggggggggggggggggggggggggggggddggf?
    </p>
    <hr>
    <div>
    
    </div>
    <div>
        
    </div>
    <div class="d-flex justify-content-around">
        <div>
            <i class="fa fa-heart"></i>
            Like
        </div>
        <div>
            <i class="fa fa-comment"></i>
            Comments
        </div>
        
    </div>
    </div>


    <div class="box1">
        <div class="d-flex skfjkk">
            <div class="lkt40">
                <img src="./Images/3.jpeg" alt="">
        
            </div>
            <div class="pl-2 pt-1">
                <h6>Mai Văn Mạnh</h6>
            </div>
         
        </div>
        <hr>
        <p class="text-muted">
            Mọi người cho mình hỏi lớp luật 18HE0102 hôm nay được nghỉ học đúng không ạ?
        </p>
        <hr>
        <div>
        
        </div>
        <div>
            
        </div>
        <div class="d-flex justify-content-around">
            <div>
                <i class="fa fa-heart"></i>
                Like
            </div>
            <div>
                <i class="fa fa-comment"></i>
                Comments
            </div>
            
        </div>
        </div>
        
</div>

<div class="col-md-4">
    <div class="left_box">
    <span>
        Notification
    </span>

    <div class=" dfkj">
                    
        <div id="list-inform">

        </div>
    </div>


    </div>



</div>

</div>
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/status.js"></script>

</html>
